@model Practica2.Mapper.DTOs.UserDto
@{
  Layout = null;
}
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="~/css/Login.css" type="text/css" />
</head>

<div class="sidenav">
         <div class="login-main-text">
            <h2>FIFA<br></h2>
            <br>
            <h4>Login Page</h4>
            <p>Login from here to access.</p>
         </div>
      </div>
    
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form action="Login" method="Post">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     @{
                        if (!(string.IsNullOrEmpty(ViewBag.Message)))
                        {
                            <div class="alert alert-danger">@ViewBag.Message</div>
                        }
                    }
                     <div class="form-group">
                 
                       <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                      <span asp-validation-for="Email" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                       <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                      <span asp-validation-for="Password" class="text-danger"></span>
                  </div>
                  <div class="d-flex justify-content-center links">
                  <button type="submit" class="btn btn-dark">Login</button> 
              </div>
                
               </form>
                
				<div class="d-flex justify-content-center links">
				 Don't have an account?<a asp-action="Register" class="link-secondary">Sign up</a>
				</div>
   

            </div>
         </div>
      </div>
   

