@{
    ViewData["Title"] = "Home Page";
}


    <h1>FIFA</h1>
  <p>
    Is an international governing body of association football, beach football and futsal. It was founded in 1904 to oversee international competition among the national associations of Belgium, Denmark, France, Germany, the Netherlands, Spain, Sweden and Switzerland. Headquartered in Zürich, Switzerland, its membership now comprises 211 national associations. These national associations must each also be members of one of the six regional confederations into which the world is divided: Africa, Asia, Europe, North & Central America and the Caribbean, Oceania and South America.
      </p>
   <img src="/images/fifaWorldCup.jpg" alt="Fifa World Cup"   style="width: 50%; height:30%; margin-top:10px;">
  


